<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Friend List</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
    <h1>My friends</h1>

    <h3>Name</h3>
    <ul>
        <li th:each="friend : ${friends}">
            <span th:text="${friend.firstName}"></span>
            <span th:text="${friend.lastName}"></span>
        </li>
    </ul>

    <p><a th:href="@{/add}">Add friend</a></p>
</body>

</html>